<h1>Comment for <%= @article.title %></h1>
From: <span><%= @comment.email%></span><br/>
Posted on:      <span><%= @comment.comment_date %></span><br/>
      <span><%= @comment.body%></span><br/>

<ul>
<li><%= link_to 'Back', article_path(@article) %></li>
<li><%= link_to 'Edit', edit_article_comment_path(@article, @comment) %></li>
      <li><%= link_to 'Delete', article_comment_path(@article, @comment), :confirm => 'Are you sure?', :method => :delete %></li>
     </ul>
