<h1>Articles</h1>

<%if @authors.empty? %>
  <%= render :partial => 'authors/noauthors' %>
<% else %>
 <%= link_to 'Write a new article', new_article_path,  :class => "links" if author_signed_in? %>
  <% if @posted.empty? %>
    <p>There are no articles yet.</p>
  <% else %>
  <div id="search-form">
 <% form_tag do  %>
  <%= text_field_tag "article_name" %> 
 <% end %>
  </div>
  <div class="clear"></div>
  <ul id="main-list">
    <% @posted.each do |article|
          curclass = "" 
          curclass = article.author.eql?(current_author) ? "current-author" : "" %>
   <li><%= link_to article.title, article, :class => curclass %></li>
   <% end %>
  </ul>
  <%= will_paginate @posted %>

  <div class="page-entry-info"><%= page_entries_info @posted %></div>
  <% end %>
<% end %>
